header
    .header
        .header__wrapper
            .header__elements
                .header__logo
                    a.link__logo(href)
                        img.link__logo(src=require("/src/images/logo.png"), alt="")
                .header__nav
                    .header__links
                        a.header__link1(href) О нас
                        a.header__link2(href) 
                            | Услуги 
                            img.img__el(src=require("/src/images/expand_more.svg"), alt="")
                        a.header__link3(href) Вакансии
                        a.header__link4(href) Новости
                        a.header__link5.active(href)
                            | Соглашения 
                            img.img__el2(src=require("/src/images/expand_more.svg"), alt="")
                .header__reg
                    .header__reg-link
                        a.header__reg-links1(href) войти
                    .header__reg-link2
                        a.header__reg-links2(href) зарегистрироваться
// herader end)) 
    
